@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300");
#topbar { background: white; margin: 20px; /*
// use velocity instead
@media only screen and (max-width: 40em) { .top-bar-section { @include transition(all 0.6s ease-in-out); opacity: 0; } &.expanded .top-bar-section { opacity: 1; }
}
*/ }
#topbar .title-area { background: white; }
#topbar .title-area img { height: 35px; }
#topbar li:not(.has-form).active a:not(.button) { background: #b1b1b1 !important; color: white !important; }
#topbar li:not(.has-form) a:not(.button) { background: white; color: #333; height: 45px; line-height: 45px; padding: 0 15px; font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 1.4rem; }
#topbar li:not(.has-form) a:not(.button):hover { background-color: #f1f1f1; }
#topbar .fa-rss-square { font-size: 120%; vertical-align: middle; color: #ee802f; }

.filler > * { width: 100%; }

.frame { position: relative; }
.frame > .title { position: absolute; bottom: 0; background: rgba(0, 0, 0, 0.5); color: white; padding: 0.7rem 1.25rem; }

div.center > img, div.center > a > img { margin: 0 auto; display: block; padding-bottom: 10px; }

img.polaroid { float: left; padding: 10px 10px 30px 10px; background: #eee; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }

div.polaroid { background: #fff; padding: 10px; text-align: center; -webkit-box-shadow: #222222 2px 2px 5px; -moz-box-shadow: #222222 2px 2px 5px; box-shadow: #222222 2px 2px 5px; display: inline-block; }
div.polaroid.funky { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg); }
div.polaroid > img, div.polaroid > iframe { display: block; margin-bottom: 5px; }

.illustration { margin: 20px auto; width: 550px; }
.illustration.funky { width: inherit; margin: 0px 5px 20px 30px; float: right; }
.illustration.funky .polaroid { -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); }

img.photo { border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }

img.thumb { background: #eee; padding: 5px; padding-bottom: 10px; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; margin: 10px 10px 5px 0; }

.pyppeImages { text-align: center; }
.pyppeImages a { vertical-align: top; }

.fancybox-skin { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.fancybox-overlay { background: rgba(0, 0, 0, 0.75); }

.fancybox-title { font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; font-weight: 300; color: #666; font-size: 18px; line-height: 1.2; }
@media only screen and (min-width: 40.063em) and (max-width: 64em) { .fancybox-title { font-size: 20px; } }
@media only screen and (min-width: 64.063em) { .fancybox-title { font-size: 24px; } }

.lang-fi, .lang-en { display: none !important; }

html.fi .lang-fi { display: inherit !important; }
html.en .lang-en { display: inherit !important; }

/*
@media only screen and (min-width:40.063em) { .timeTitle { margin-top: 15px; }
}
*/
.timeTitle { white-space: nowrap; }

@media only screen and (min-width: 64.063em) { .flex-video.narrow { margin-left: 80px; margin-right: 80px; } }
.postSeparator { height: 10px; background: url('/img/grey_dots.png?1402328593') repeat scroll center center #f1f1f1; margin: 10px 0; }
.postSeparator:last-child { height: 0; }

#blog .post div.cover { height: 150px; background-size: cover; background-repeat: no-repeat; background-position: center; background-clip: border-box; }

.readMoreButton, ul.pagination li.current a { background-color: #dd2c2c; }
.readMoreButton:hover, .readMoreButton:focus, ul.pagination li.current a:hover, ul.pagination li.current a:focus { background-color: #b81e1e; }

.readMoreButton .fa { font-size: 150%; margin-left: 10px; vertical-align: middle; }

.imageCollage .frame:hover .title { opacity: 1; }
.imageCollage .frame .title { opacity: 0; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }

#comments { margin-top: 20px; }

#post { margin-top: 20px; }
@media only screen and (min-width: 40.063em) { #post .rightSideContent { float: right; margin-left: 10px; } }
@media only screen and (min-width: 40.063em) and (max-width: 64em) { #post .rightSideContent { width: 300px; }
  #post .rightSideContent.wide { width: 400px; } }
@media only screen and (min-width: 64.063em) { #post .rightSideContent { width: 350px; }
  #post .rightSideContent.wide { width: 450px; } }
@media only screen and (max-width: 40em) { #post .rightSideContent { width: 100%; } }

#cvImage { width: 100px; height: 100px; float: right; -webkit-border-radius: 200px; -moz-border-radius: 200px; -ms-border-radius: 200px; -o-border-radius: 200px; border-radius: 200px; background: #dd2c2c; padding: 5px; }
@media only screen and (min-width: 40.063em) { #cvImage { width: 200px; height: 200px; } }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: 300; }

body { background: #F1F1F1; padding-top: 20px; }

#header { margin-bottom: 10px; }
#header img { width: 150px; }
#header ul { margin: 0; margin-top: 2px; float: right; }
#header ul li { padding-top: 2px; }

a { color: #dd2c2c; }
a:hover { color: #c52020; }

#pageWrapper { background: white; -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); padding-bottom: 40px !important; }

#title { background-image: url('/img/home_bg.jpg?1402069445'); background-size: cover; background-repeat: no-repeat; background-position: center; background-clip: border-box; overflow: hidden; height: 220px; }
#title .description { margin-top: 20px; float: right; }
#title h1, #title h2, #title .description { color: white; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
@media only screen and (min-width: 64.063em) { #title h1 { font-size: 3.25rem; } }

#index.js .example { opacity: 0; }

@media only screen and (min-width: 64.063em) { .columns.largeSpacing { padding-left: 1.3rem; padding-right: 1.3rem; } }

span.hilight, em.hilight { color: black; font-size: 120%; }

body { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
