/*
@media #{$medium-up} {
  .timeTitle {
    margin-top: 15px;
  }
}
*/
.timeTitle {
  white-space: nowrap;
}

@media #{$large-up} {
  .flex-video.narrow {
    margin-left: 80px;
    margin-right: 80px;
  }
  iframe.livestream {
    padding-left: 80px;
    padding-right: 80px;
  }
}


.postSeparator {
  height: 10px;
  background: image-url("grey_dots.png") repeat scroll center center #f1f1f1;
  margin: 10px 0;
  &:last-child {
    height: 0;
  }
}

.pagination-centered {
  margin-top: 20px;
}

#blog .post {

  div.cover {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
  }
}

.readMoreButton {
  .fa {
    font-size: 150%;
    margin-left: 10px;
    vertical-align: middle;
  }
}