/*
@media #{$medium-up} {
  .timeTitle {
    margin-top: 15px;
  }
}
*/
.timeTitle {
  white-space: nowrap;
}

/*
@media #{$large-up} {
  .flex-video.narrow {
    margin-left: 80px;
    margin-right: 80px;
  }
  iframe.livestream {
    padding-left: 80px;
    padding-right: 80px;
  }
}
*/


.postSeparator {
  height: 10px;
  background: image-url("grey_dots.png") repeat scroll center center #f1f1f1;
  &:last-child {
    height: 0;
  }
}

.pagination-centered {
  margin-top: 20px;
}

#blog .post {
  position: relative;
  padding: 30px 0 25px 0;

  div.cover {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
  }

  &:hover {
    .readMoreButton {
      opacity: 1;
    }
  }
}

.button.small.readMoreButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
  @include transition(opacity 0.8s ease-in-out);

  .fa {
    font-size: 150%;
    margin-left: 10px;
    vertical-align: middle;
  }
}