.imageCollage {
  .frame {
    &:hover {
      .title {
        opacity: 1;
      }
    }
    .title {
      opacity: 0;
      @include transition(opacity 0.5s ease-in-out);
    }
  }
}

#comments {
  margin-top: 20px;
}

#post {
  margin-top: 20px;
}

#share {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(black, 0.5);
  margin: 0;
  li {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }
  @mixin shareColor($color) {
    color: $color;
    &:hover {
      color: lighten($color, 10%);
    }
  }
  .facebook i {
    @include shareColor(#4a66a0);
  }
  .google-plus i {
    @include shareColor(#be3628);
  }
  .twitter i {
    @include shareColor(#00acee);
  }
}

.rightSideContent {
  @media #{$medium-up} {
    float: right;
    margin-left: 10px;
  }
  @media #{$medium-only} {
    width: 300px;
    &.wide {
      width: 400px;
    }
  }
  @media #{$large-up} {
    width: 350px;
    &.wide {
      width: 450px;
    }
  }
  @media #{$small-only} {
    width: 100%;
  }
}
