#search {
  .fa-spin {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

#searchResults {
  a.result {
    display: block;
    padding: 10px;
    @include transition(background-color 0.5s ease-out);
    background-color: rgba(#aaa, 0);
    &:hover {
      background-color: rgba(#aaa, 0.3);
    }
    .title {}
    .time {
      white-space: nowrap;
    }
    em {
      font-weight: 700;
      font-style: normal;
      color: #58b374;
    }
    .excerpt {
      color: #222;
      .fa {
        color: #666;
      }
      .fa-quote-left {
        padding-right: 5px;
        padding-bottom: 5px;
      }
      .fa-quote-right {
        padding-left: 5px;
        padding-top: 5px;
      }
    }
  }
}