#topbar {
  background: white;
  margin: 20px;
  $height: 45px;

  .title-area {
    background: white;
    img {
      height: 35px;
    }
  }

  li:not(.has-form) {

    a:not(.button) {
      background: white;
      color: #333;
      height: $height;
      line-height: $height;
      padding: 0 15px;
      font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .fa-rss-square {
    font-size: 120%;
    vertical-align: middle;
    color: #ee802f;
  }
}
