#topbar {
  background: white;
  margin: 20px;
  $height: 45px;


  /*
  // use velocity instead
  @media #{$small-only} {
    .top-bar-section {
      @include transition(all 0.6s ease-in-out);
      opacity: 0;
    }
    &.expanded .top-bar-section {
      opacity: 1;
    }
  }
  */

  .title-area {
    background: white;
    img {
      height: 35px;
    }
  }

  li:not(.has-form) {

    &.active a:not(.button) {
      background: darken(#f1f1f1, 25%) !important;
      color: white !important;
    }

    a:not(.button) {
      background: white;
      color: #333;
      height: $height;
      line-height: $height;
      padding: 0 15px;
      font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .fa-rss-square {
    font-size: 120%;
    vertical-align: middle;
    color: #ee802f;
  }
  .fa-search {
    font-size: 120%;
    vertical-align: middle;
    color: #3c95ff;
  }
}
