@charset "UTF-8";
@import "compass";
@import "_mixins.scss";
@import "_foundation.scss";

#judoBelts {
  width: 100%;
  margin-top: 20px;
  td:nth-child(1) {
    width: 20px;
  }
  td:nth-child(2) {
    width: 60px;
  }
  td:nth-child(3) {
    width: 60px;
  }
  .belt {
    display: inline-block;
    height: 16px;
    width: 16px;
    @include single-box-shadow;
    $percentage: 15%;
    &.yellow {
      @include vertical-gradient-darken(#F7FF64, $percentage);
    }
    &.orange {
      @include vertical-gradient-darken(#ffb45f, $percentage);
    }
    &.green {
      @include vertical-gradient-darken(#6bd65d, $percentage);
    }
    &.blue {
      @include vertical-gradient-darken(#0088cc, $percentage);
    }
    &.brown {
      @include vertical-gradient-darken(#a3895e, $percentage);
    }
    &.black {
      @include vertical-gradient-darken(#222, $percentage);
    }
  }

}