@charset "UTF-8";
@import "compass";
@import "_foundation.scss";
@import "_mixins.scss";
@import "_topbar.scss";
@import "_images.scss";
@import "_fancybox.scss";
@import "_localization.scss";
@import "_blog.scss";
@import "_post.scss";
@import "_search.scss";

@import "_cv.scss";

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300");

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  background: /*image-url('bg.png') repeat*/ #F1F1F1;
  padding-top: 20px;
}

#header {
  margin-bottom: 10px;
  img {
    width: 150px;
  }
  ul {
    margin: 0;
    margin-top: 2px;
    float: right;
    li {
      padding-top: 2px;
    }
  }
}

a {
  color: $red;
  &:hover, &:focus {
    color: darken($red, 7%);
  }
}

#pageWrapper {
  background: white;
  @include box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
  padding-bottom: 40px !important;
}

#title {
  background-image: image-url('home_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  overflow: hidden;
  position: relative;

  height: 220px;

  .description {
    margin-top: 20px;
    float: right;
  }
  .timeTitle {
    display: inline-block;
  }
  h1, h2, .description {
    color: white;
    @include text-shadow(1px 1px 2px rgba(black, 0.8));
  }
  h1 {
    @media #{$large-up} {
      font-size: 3.25rem; // 2.75rem
    }
  }
}

#index.js {
  .example {
    opacity: 0;
  }
}
#futureLivestreams {
  h5 {
    margin: 0;
  }
  h5, div {
    position: relative;
  }
  .panel {
    background-color: white;
    position: relative;
    overflow: hidden;
    min-height: 120px;
  }
  img {
    z-index: 0;
    //@include opacity(0.7);
    position: absolute;
    top: 0;
    right: 0;
    $factor: 0.6;
    height: 255px * $factor;
    width: 170px * $factor;
  }
}

.columns.largeSpacing {
  @media #{$large-up} {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

button, a.button, ul.pagination li.current a {
  background-color: $red;
  &:hover, &:focus {
    background-color: darken($red, 10%);
  }
  &.disabled, &[disabled] {
    background-color: $red;
    border-color: darken(red, 10%);
    opacity: 0.5;
    &:hover, &:focus {
      background-color: $red;
    }
  }
}

form span.required {
  color: red;
  font-size: 140%;
  line-height: 0.5;
}


span.hilight, em.hilight {
  color: black;
  font-size: 120%;
}

body {
  font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
}
