@charset "UTF-8";
@import "compass";
@import "_foundation.scss";
@import "_topbar.scss";
@import "_mixins.scss";
@import "_images.scss";
@import "_fancybox.scss";
@import "_localization.scss";
@import "_blog.scss";
@import "_post.scss";

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#title {
  &.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 150px;

    h1, h3 {
      //position: absolute;
      //bottom: 0;
      color: white;
      @include text-shadow(0 0 6px rgba(black, 0.8));
    }

    @media #{$medium-up} {
      //height: 200px;
      h1 {
        font-size: 3.25rem;
      }
    }
    @media #{$large-up} {
      //height: 200px;
    }
  }
  /*
  background: image-url("tiles.png") repeat scroll center center $cyan;
  h1, h5 {
    color: white;
  }
  h1 {
    padding: 10px 0;
    small {
      color: white;
      vertical-align: middle;
    }
    &.withTime {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .time {
    padding-bottom: 10px;
  }
  */
}

span.hilight, em.hilight {
  color: black;
  font-size: 120%;
}

body {
  font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
}

#footer {
  $textColor: #666;
  background: #333;
  padding: 20px 0;
  color: $textColor;
  margin-top: 40px;
  h5 {
    color: $textColor;
    margin-top: 10px;
  }
  .fa-flash {
    font-size: 150%;
    color: white;
    vertical-align: middle;
  }
  ul {
    float: right;
    margin: 0;
  }

  @media #{$small-only} {
    .columns {
      text-align: center;
    }
    ul {
      float: none;
      display: inline-block;
      > li:first-child {
        margin-left: 0;
      }
    }
  }

}

#notFoundGif {
  width: 100%;
  @media #{$small-only} {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}