---
layout: page
language: fi
title: Blogi
---

<!--
BG options:
- https://www.flickr.com/photos/jarmolahti/13560358605/in/set-72157643260480523
- https://www.flickr.com/photos/jarmolahti/9335297000/in/set-72157634726759395
- https://www.flickr.com/photos/jarmolahti/9244996969/in/set-72157634564179656
- https://www.flickr.com/photos/jarmolahti/9247779808/in/set-72157634564179656
--->

<h1>Blogi</h1>

{% if paginator.page != 1 %}
  {% include pagination.html %}
{% endif %}

<div>
  {% for post in paginator.posts %}
  <div class="post">
    <a href="{{ post.url }}" class="title">
      <h2>
        {{ post.title }}
        <small class="timeTitle">{{ post.date | date_to_xmlschema }}</small>
      </h2>
    </a>
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="button small readMoreButton">
      Näytä koko kirjoitus
      <i class="fa fa-arrow-circle-right"></i>
    </a>
    <div style="clear: both;"></div>
  </div>
  <div class="postSeparator"></div>
  {% endfor %}
</div>

{% include pagination.html %}
