---
layout: default
language: fi
htmlId: blog
title: Blogi
---

{% include coverTitle.html img="/img/blog_bg.jpg" title="Blogi - nyttemmin selvemmin Jarmo Lahden" %}

<div class="columns largeSpacing">

  {% if paginator.page != 1 %}
    {% include pagination.html %}
  {% endif %}

  {% for post in paginator.posts %}
  <div class="post">
    <h2>
      <a href="{{ post.url }}" class="title">
        {{ post.title }}
        <small class="timeTitle">{{ post.date | date_to_xmlschema }}</small>
      </a>
      <a class="commentCount" href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>
    </h2>

    {{ post.excerpt }}
    <a href="{{ post.url }}" class="button small readMoreButton">
      Näytä koko kirjoitus
      <i class="fa fa-arrow-circle-right"></i>
    </a>
    <div style="clear: both;"></div>
  </div>
  <div class="postSeparator"></div>
  {% endfor %}

  {% include pagination.html %}
</div>

<script type="text/javascript">
  var disqus_shortname = infocrea.disqus.shortname;

  /* * * DON'T EDIT BELOW THIS LINE * * */
  if (infocrea.showComments) {
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  }
</script>