---
layout: page
language: fi
permalink: /yhteystiedot/
title: "Yhteystiedot"
js: feedback.js
---

<div class="row">
  <div class="columns medium-5 large-6">
    <h3>Osoite | Address</h3>
    {% include vcard.html fn="Infocrea Oy" email="info@infocrea.fi" %}
  </div>
  <div class="columns medium-7 large-6">
    <h3>Laskutus | Invoicing</h3>
    <ul class="vcard">
      <li><b>Y-tunnus</b></li>
      <li class="uid">0913338-7</li>
      <li><em>(katso verkkolaskutustiedot <a href="http://verkkolasku.tieke.fi/CompanyDetails.aspx?companyID=83997">Tieken palvelusta</a>)</em></li>
      <li><b>VAT number</b></li>
      <li>FI09133387</li>
      <li><b>Invoicing</b></li>
      <li>post or e-mail <em>(see address)</em></li>
      </li>
    </ul>

  </div>
</div>


<h3>Lähetä viesti | Send message</h3>
{% include palauteForm.html %}


