<nav id="topbar" class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <img src="/img/infocrea_logo.png" class="show-for-small-only" />
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span><i class="fa fa-navicon" style="text-transform: none;"></i></span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="lang-fi home"><a href="/">Etusivu</a></li>
      <li class="lang-en home"><a href="/home/">Home</a></li>

      <li class="lang-fi"><a href="/palvelut/">Palvelut</a></li>
      <li class="lang-en"><a href="/services/">Services</a></li>

      <li class="lang-fi"><a href="/yhteystiedot/">Yhteystiedot</a></li>
      <li class="lang-en"><a href="/contact/">Contact</a></li>

      <li class="lang-fi blog"><a href="/blogi/">Blogi</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="/rss/">
          <i class="fa fa-rss-square"></i> RSS
        </a>
      </li>
      <li class="lang-en">
        <a href="#" class="change-lang">
          <img src="/img/flag/fi.png" /> Suomeksi
        </a>
      </li>
      <li class="lang-fi">
        <a href="#" class="change-lang">
          <img src="/img/flag/us.png" /> In English
        </a>
      </li>
    </ul>
  </section>
</nav>
