<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% endif %} &laquo; {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!--
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/logo-114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/logo-72.png" />
  <link rel="apple-touch-icon-precomposed" href="/img/logo-57.png" />
  <link rel="shortcut icon" type="image/png" href="/img/logo-57.png" />
  -->
  <link rel="stylesheet" href="/css/lib/foundation.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/lib/fancybox/jquery.fancybox.css" />
  <!--
  <link rel="stylesheet" href="/css/syntax.css" />
  -->
  <link rel="stylesheet" href="/css/main.css" />
  {% if page.css %}<link rel="stylesheet" href="/css/{{ page.css }}" />{% endif %}
  <script type="text/javascript">window.infocrea = {};</script>
  <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
  {% include googleAnalytics.html %}
</head>
