
{% if paginator.total_pages > 1 %}
<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="arrow"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}">&laquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&laquo;</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="current"><a>{{ page }}</a></li>
      {% elsif page == 1 %}
        <li class="arrow"><a href="{{ '/blogi/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="arrow"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
