{% for post in site.posts %}
  <div class="post">

    {% if post.titleCover %}
    <div class="filler show-for-medium-down">
      <div class="cover" style="background-image: url('{{ post.id | content_path }}/{{ post.titleCover }}');"></div>
    </div>
    <div class="row show-for-large-up">
      <div class="large-12 columns filler">
        <div class="cover" style="background-image: url('{{ post.id | content_path }}/{{ post.titleCover }}');"></div>
      </div>
    </div>
    {% endif %}


    <div class="row">
      <div class="medium-4 columns rightColumn">
        <h5 class="timeTitle">{{ post.date | date_to_xmlschema }}</h5>
        {% if post.img_aside %}
          <img src="{{ post.id | content_path }}/{{ post.img_aside | img_size:'aside' }}"
               style="width: 100%;" class="show-for-medium-up aside" />
        {% endif %}
      </div>
      <div class="medium-8 columns leftColumn">
        <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>

        <div class="caption">
          {{ post.excerpt }}
        </div>
        <a href="{{ post.url }}" class="button small readMoreButton">
          {{ include.read_more }}
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="postSeparator">&nbsp;</div>
{% endfor %}
