---
layout: post
title: "Tekoälyä ja iso- & jokaveliä humanismin päivillä"
date: 2012-11-17T22:44:35+02:00
categories: general
---
<p>Kävin tänään XXXI Humanismin päivillä, kun aihe oli niinkin mielenkiintoinen kuin <a href="http://www.vapaa-ajattelijat.net:8080/display/hum/Alan+Turing+100+vuotta">"Ihminen, kone ja tulevaisuus - Alan Turing 100 vuotta"</a>.</p>
<p>Pitkästä aikaa päätin kokeilla omaa <a href="http://www.quickprese.com">QUICKprese</a>äni eli kevyttä &amp; helppoa tapaa dokumentoida tilaisuus - vaikkapa siis seminaari esitelmineen - ns. audiovisuaalisesti pelkällä digipokkarilla tai kamerakännykällä ja digitaalisella äänitallentimella (tai älykännykällä, jossa on sekä kamera että audiotallennussovellus).</p>
<p>Alla selvimmin "omaan seuranta-alueeseeni" kuuluneet päivän esitykset upotettuina em. Quickpresestä sen antaman koodin avulla tähän blogaukseen: Pikkukuvista pääsee hyppelemään esittyksessä/äänessä niihin kohtiin, joiden kohdalla kuva on otettu. Tällä kertaa kuvien ja äänen synkkaus on tehty hieman&nbsp; "ranteella". Eli synkkaus onnistuu 100-prosenttisesti, jos ensimmäinen kuva otetaan tasan samalla hetkellä kuin äänitys käynnistetään - ja nyt ei ole tehty ihan niin.</p>
<!--more-->
<h2>Erkki Karjalainen <small>Onko ihminen tietokone?</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/uZuDd3/humanismin-paivat-17-11-2012-erkki-karjalainen %}</div>

<h2>Kaj Sotala <small>Onko Turingin testi älyn ja tietoisuuden mitta?</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/nutcrC/humanismin-paivat-17-11-2012-kaj-sotala %}</div>

<h2>Harri Valpola <small>Robotille aivot? (Ja keskustelua)</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/iw2x2b/humanismin-paivat-17-11-2012-harri-valpola-ja-keskustelua %}</div>

<h2>Esa Ylikoski <small>Ihmisoikeuksien tulevaisuus</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/PE9jDG/humanismin-paivat-17-11-2012-esa-ylikoski %}</div>

<h2>Joonas Mäkinen <small>Isoveli vai jokaveli? (Joonas Mäkisen kalvot <a href="http://prezi.com/8ihunlj1v9ai/isoveli-vai-jokaveli/">Prezissä</a>.)</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/x4vq2U/humanismin-paivat-17-11-2012-joonas-makinen %}</div>

<h2>Jyrki Kasvi <small>Ihmisoikeudet ubiikkiyhteiskunnassa</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/B0OSq7/humanismin-paivat-17-11-2012-jyrki-kasvi %}</div>

<h2>Lauri Kurvonen <small>Miten kivikautinen ihminen pärjää ubiikkiyhteiskunnassa - onko tietotekniikan kehityksen loppu yhtä räjähdyksen omainen kuin oli sen alkukin? (Ja keskustelua)</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/y12KQI/humanismin-paivat-17-11-2012-lauri-kurvonen-ja-keskustelua %}</div>
