---
layout: post
title: "Viestintäkasvatusta ja singulariteettia Humanismin toisena päivänä"
date: 2012-11-18T14:48:08+02:00
categories: general
---
<p>Kävin kuuntelemassa <a href="http://www.vapaa-ajattelijat.net:8080/display/hum/Alan+Turing+100+vuotta">Humanismin päivien</a> toisenkin päivän lounastaukoon asti.</p>
<p>Kuten <a href="http://www.infocrea.fi/blogi/tekoalya-ja-iso-jokavelia-humanismin-paivilla">eilenkin</a>, kuvasin Canon PowerShot S95 -digipokkarilla esittäjiä ja heidän kalvojaan ja tallensin puheet Zoom H1 -digitallentimella. Ja rakensin kahdesta ict-alaa liippaavasta esityksestä Quickpreset, jotka "upotin" tuohon alle.</p>

<!--more-->

<h2>Marja-Liisa Viherä <small>Toivottu elämäntapa tekniikan kehityksen ajurina</small></h2>
<div class="flex-video">{% iframe https://www.quickprese.com/embed/CEshi4/humanismin-paivat-18-11-2012-marja-liisa-vihera %}</div>

<h2>Anders Sandberg <small>"Outstripping Our Feeble Powers - Why we are bad at judging how hard AI problems are" + "Will the Real Singularity Please Stand Up?"</small></h2>
<div class="flex-video">
  {% iframe https://www.quickprese.com/embed/iZrp9x/humanismin-paivat-18-11-2012-anders-sandberg %}
</div>
<p><small>(Sandbergin esitys lauantailta siirrettiin sunnuntaille)</small></p>

<p>Humanismin päivillä oli muitakin mielenkiintoisia esitelmiä. Niitä myös videokuvattiin, mutta kuvaaja ei häneltä sitä kysyttyäni tiennyt niiden mahdollisesta käytöstä. Ehkäpä videot tai linkit niihin ilmestyvät <a href="http://www.vapaa-ajattelijat.net:8080/display/hum/Humanistiliitto">Humanistiliiton</a> nettisivuille.</p>