---
layout: post
title: "Standardimenoa"
date: 2013-10-20T12:22:59+03:00
categories: general
---
<p>Tuoreinta eli perjantaina 18.10. ilmestynyt <em>Talouselämää</em> viikonvaihteessa lukiessa lehden välistä tippui lyhyen kantaman etiäinen: Suomen Standardisoimisliitto SFS:n <em>Kasvua standardeilla</em> -lehtinen:</p>
<!--more-->
{% include postImage.html path="/files/TE-standardiliite2.jpg" %}
<p>"Etiäinen" siinä mielessä, että maanantaina kävin Tekniikan Journalistit Presstek ry:n excursiolla SFS:ssä, missä toimitusjohtaja <strong>Pekka Järvinen</strong> ja tiedottaja <strong>Jyrki Alanko</strong> briefasivat ja keskustelivat standardeista toimittajien kanssa. Kokeilin tilaisuudessa striimausta Galaxy Cameran wlan-yhteydellä. Wlan-tukiasema puolestaan oli SGS3 4G -kännykkäni, joka jakoi Elisan mobiiliyhteyttä 4G-SIMmillä:</p>
{% livestream http://new.livestream.com/accounts/2914987/events/2469562/videos/32241187/player %}
<p>(Kalvoista ei valitettavasti saa mitään selvää. Ne jaettiin paperiversiona, 6 kalvoa per A-nelonen. Turhaan tuli niitä kuvatuksi, mutta kun kokeiltiin niin kokeiltiin. (<a href="http://new.livestream.com/ITstriimIT/ITadhocIT-2013-10/videos/32241187">Striimisivullta</a> löytyy linkit kalvojen valokuviin, joista melkein saa selvääkin.)</p>
<p>Tuosta SFS:n 8-sivuisesta lehtisestä osui muuten silmään juttu otsikolla Innovation networks, aiheena liiketoiminnan konsultointipalvelujen ostamista ja myyntiä helpottava standardi. PIstetäänpä se vielä kuvana tähän:</p>
{% include postImage.html path="/files/Innovations-Networks.jpg" %}
<p>Kappas vaan, jutussa ei kerrota standardin tarkkaa nimeä tai numeroa... No, löytyy SFS:n sivuilta haulla "liikkeenjohdon" eli tässä: <a href="http://www.sfs.fi/ajankohtaista/uutiset/johdon_konsultointi_sai_pelisaannot.1313.news">http://www.sfs.fi/ajankohtaista/uutiset/johdon_konsultointi_sai_pelisaannot.1313.news</a></p>