---
layout: post
title: "Mainos\"ponnistuksia\" ja -\"tuloksia\""
date: 2013-04-28T16:10:08+03:00
categories: general
---
<p>Posti toi joskus keväällä Googlen muutaman kymmenen euron "etusetelin" <strong>Google Adwords</strong> -käyttöön ja päätin edes kokeilla, vaikka vain saadakseni tuntumaa Google Adwordsien käyttöliittymään ja käyttöön</p>
<p>Mietin, millä avainsanoilla googlettavat voisivat tarvita palveluja joita itse pystyn tarjoamaa ja syntyi lista "video, videokuvaus, videoeditointi, tiedotus, viestintä, tiedottaja, striimaus, streamaus".</p>
{% include postImage.html path="/files/google-mainos.jpg" css="rightSideContent" %}
<p>Loin oheisen tekstimainoksen, ja määritin alueiksi Helsingin, Espoon ja Vantaan. Mainosta klikkaamalla päätyisi Infocrea Oy:n <a href="http://www.infocrea.fi/palvelukuvaukset-2013">palvelukuvaussivulle</a>.</p>
<p>Ajalla 5.3.-23.4. mainosta näytettiin Googlen mukaan kaikkiaan 306401 kertaa, ja sitä klikattiin 2636 kertaa. Hintaa kertyi kaikkiaan 479 euroa. Suoraa havaintoa ei itselläni ole, josko joku tilaus tai edes yhteydenotto olisi tullut juuri tämän kampanjan ansiosta.</p>
<!--more-->
<p>Olisi varmaan pitänyt käyttää myös Googlen uudelle Adwords-asiakkaalle tarjoamaa etua; heti kohta mainoksen/kampanjan laadittuani ja aktivoituani sain nimittäini Googlelta mailia, jossa mm. todettiin:</p>
<p>"Olen Kaisa ja kirjoitan sinulle AdWordsin tervetulotiimin puolesta täältä Googlelta. Tarjoamme asiantuntijaneuvoja kaltaisillesi uusille AdWords-mainostajille. Olen tarkastanut tilisi xxx-xxx-xxx ja mietin, että sitä voisi vielä hiukan parannella, joten haluaisin tarjota sinulle AdWordsin ilmaisen tervetulopalvelun."</p>

{% include postImage.html path="/files/facebook-mainos.jpg" css="rightSideContent" %}
<p>Vaikka Google-mainonnan takia ei tilauskirja täyttynytkään, innostuin kuitenkin kokeilemaan myös <strong>Facebook-mainontaa</strong>.</p>
<p>Parhaillaan käynnissä olevassa logolla visualisoidussa kampanjassa aiheena on striimaus.</p>
<p>Sen verran varovainen olin, että kampanja on ajoitettu päättymään 12.5. ja maksimisummaksi on määrätty USD 100. Mainos on aseteltu kohdentumaan Helsingissä, Espoossa ja Vantaalla 58820 ihmiseen. Heidän ikänsä on yli 20 vuotta ja ovat pk-yrittäjiä tieteen ja teknologian alueilla.</p>
<p>Facebookilta ei ole tullut ehdotuksia mainoksen tai kampanjan tuunailuun, vain mainoksen hyväksymisestä kertova viesti 23.4., jossa sentään neuvottiin, että "kun käytät samasta mainoksesta useita eri versioita, voit helpommin selvittää, millaisiin mainoksiin kohdeyleisösi reagoi parhaiten. Ota selvää, miten voit testata eri versioita samasta mainoksesta."</p>
<p>Vajaassa viikossa mainosta on näytetty 4810 ihmiselle ja sitä on klikattu 4 (neljä) kertaa (jos oikein tulkitsen mainosten hallintasivua) ja laskutusta on kertynyt 1,35 dollaria. Tällä viikolla on kyllä tullut muutama striimitiedustelu/tarjouspyyntö, mutta tuskin noiden klikkausten katalysoimana. Vaan antaapa ajan tai satasin kulua loppuun asti.</p>
<p>Toukokuussa olen päättänyt myös näkyä <strong>bannereilla</strong> Hetky.fi:ssä ja sen Hetkyn sähköisessä julkaisussa hetkyajassa.fi, joiden bannerihinnastot löytyvät <a href="http://www.hetkyajassa.fi/yhteistyokumppanit">täältä</a>.</p>
<p>Ja aivan hetki sitten lähetin Infocrea Oy:n logon netistä löytämääni <a href="http://goqr.me/qr-code-logo/">logoja <strong>QR-koodeihin</strong></a> sijoittavaan palveluun. Saapa nähdä, koska ja missä voi bongata allanäkyvää tylsää perus-qr-koodia Infocrea Oy:n joko musta- tai valkopohjainen neliölogolla piristettyä versiota:</p>
<ul class="small-block-grid-2">
  <li><img src="/files/qr-koodi-ilman-logoa.jpg" width="800" height="535" /></li>
  <li><img src="/files/qr-koodi-logolla.jpg" width="294" height="285" /></li>
</ul>
<hr/>
<p><b>Edit 28.4. klo 18:25:</b> Toki ilmaisellakin QR-koodigeneraattorilla saa ainakin jotenkunten logon - tai muunkinlaisen kuvan - QR-koodiin mukaan. Oheinen syntyi <a href="http://www.qrcode-monkey.com/">http://www.qrcode-monkey.com</a>:illa.</p>
<p>Ja löytyyhän noita vieläkin suuremmat räätälöintimahdollisuudet tarjoavia QR-koodigeneraattoreita, kuten vaikkapa <a href="http://www.unitaglive.com/qrcode">http://www.unitaglive.com/qrcode</a>.</p>
<p><b>Edit 2 26.4. klo 19:43:</b> Ja leikkiminen jatkuu. ITstriimIT-Twitter-tunnuksen uusi profiilisivu (ja -kuva):</p>
<p><img src="/files/itstriimit-twitter-profiili.jpg" width="513" height="254" /></p>