---
layout: post
title: "Teollinen Internet ja sosiaalinen media?"
date: 2013-10-02T14:22:44+03:00
categories: general
---
<p>Kävin tänä aamuna <a href="http://www.messukeskus.com/Sites3/Teknologia13/Sivut/default.aspx">Teknologia 2013</a> -tapahtuman yhteydessä pidetyssä seminaarissa, jonka järjestivät Älykkäät koneet -klusteri ja sosiaalinen media teollisuudessa -verkosto. Joiden kummankin järjestäjän pelkkä nimi kuulostaa ihan mielenkiintoiselta, eikö vain?</p>
<p>Seminaarin otsikko oli "Digitaalinen suunnittelu ja valmistus". Ja alaotsikko, josta siis tämän blogahduksen otsikko on peräisin: "Tarjoaako teollinen Internet ja sosiaalinen media ratkaisuja tuotteen ja tuotannon kehityshaasteisiin?"</p>
<p>Seminaarin ohjelman pistin kännykän kalenterin ruutugräppikuvana Facebookiin ratikasta matkalla Messukeskukseen:</p>
<!--more-->
{% facebook https://www.facebook.com/photo.php?fbid=10151692216957963&set=a.106349697962.97564.531562962&type=1 %}

<p>(Ohjelman pystyy lukemaankin klikkaamalla kuvaa, jolloin siirtyy julkiseen Facebook-kuvaani.)</p>
<p>Tulin näpsineeksi kuvia kännykälläni seminaarin aikana. Uppasin ne Flickriinkin, ja pistin esityskohtaisiin setteihin, joista saan tähän upotukset.</p>
<p>Ensin Intosomen <strong>Kaija Pöystin</strong> ja <strong>Harri Lakkalan</strong> "Valmistavan teollisuuden ja teollisen Internetin vaikutus innovaatio- ja kilpailukykyyn":</p>
{% flickr_set 72157636114387213 %}

<p>Tampereen teknillisen yliopiston <strong>Hannu Kärkkäisen</strong> "Katsaus aihealueen yhteistyöhön ja tutkimukseen Suomessa, SOITA- ja SOILA-hankkeiden tuloksia sekä esimerkkicase-kirjaston esittely":</p>
{% flickr_set 72157636114336644 %}

<p>eWork Nordicin <strong>Mats Lindholmin</strong> "Asiantuntijavälityksestä voimaa suunnitteluun":</p>
{% flickr_set 72157636114114725 %}
<p>Seuraavaksi Innopark Programmesin <strong>Rainer Jakobsson</strong> ja <strong>Virpi Messman</strong> esittelivät "INDEMPiä, digitaalista tuotekehitysalustaa (tai sellaisen konseptia) ja FICANETiä, pinnoituksen ja korroosioneston asiantuntijapalvelua":</p>
{% flickr_set 72157636114235806 %}

<p>Koska Kaija Pöysti oli omassa esityksessään erikseen mainostanut seuraavaa eli <strong>Sari Aapolan</strong> esitystä "Ajatusjohtajuus ja arvon tuottaminen asiakkaille", päätin että sen dokumentoimiseen kokeilenkin taas kuvien (Flickrissä) ja niihin äänen synkronoivaa ihan itse ideoimaani ja koodaripoikani <a href="http://pyppe.fi">Pypen</a> käytännössä toteuttamaa <a href="http://quickprese.com">Quickprese</a>-palvelua. Josta Sari Aapolan esitys upotettuna tässä:</p>
<div class="flex-video narrow">{% iframe http://www.quickprese.com/embed/JdX3r3/sari-aapola-2-10-2013-digitaalinen-suunnittelu-ja-valmistus-seminaarissa %}</div>

<p>Tallensin kuvien lisäksi sitten äänen vielä viimeisestäkin eli <strong>Timo Rainion</strong> esityksestä "Kuinka tästä eteenpäin" - johon tuli mukaan myös Kaija Pöystiä ja linkkiä, jota yleisö pyysi aikaisempien esitysten keskusteluissa:</p>
<div class="flex-video narrow">{% iframe http://www.quickprese.com/embed/b7blz0/timo-rainio-ja-kaija-poysti-2-10-2013-digitaalinen-suunnittelu-ja-valmistus-seminaarissa %}</div>
<p>Se linkki on siis <a href="http://e20cases.org">http://e20cases.org</a></p>