---
layout: post
title: "Linked Open Data Finland"
date: 2014-01-24T22:28:01+02:00
categories: general
---
<p>Perjantai 24.1.2014 meni Otaniemessä noin nimetyn <a href="http://www.seco.tkk.fi/events/2014/2014-01-24-ldf/">tilaisuuden</a> merkeissä. Suomennettuna avoin yhdistetty tieto Suomessa.</p>
<p>Kokeilin jopa <a href="https://new.livestream.com/ITstriimIT/ITadhocIT-2014-01">striimausta</a>. Mutta ei siitä sen enempää kuin että ei kulje striimi wlanin yli, olkoon wlan sitten vaikka Aalto Open.</p>
<p>Professori <strong>Eero Hyvösen</strong> avaus "Linked Data Finland - visio, missio ja toteutus" kuitenkin videona, kameran kortin ja Youtuben kautta:</p>
<!--more-->
{% youtube MWDWx9hCtP8 %}
<p>Sen verran ketutti striimin toimimattomuus, että avauksen jälkeiset kuusi mielenkiintoista teknologiaesitystä tyydyin vain katsomaan ja kuuntelemaan, en ottanut edes kuvia. Esitykset kuitenkin on <a href="https://twitter.com/yoge1/status/426709460715712512">Twitterissä</a> luvattu löytyvän myöhemmin.</p>
<p>Vasta seuraavan Eero Hyvösen esityksen "7 tähden yhdistetyn tiedon julkaisualusta LDF.fi" aikana innostuin uudelleen dokumentointiiin ja kuvasin kalvot:</p>
{% flickr_set 72157640117166604 %}
<p>Ja loput eli sovelluksia yms. kuvaavat esitykset sitten sekä äänitin että kuvasin kalvot ja loin niistä Quickpreset (joka quickprese.com on koodaripoikani <a href="http://www.pyppe.fi/">Pypen</a> (aka Pyry-Samuli) minulle joululahjaksi koodaama juttu).</p>

<h2>Miika Alonen <small>Semanttinen Kansallisbiografia - 6000 elämäkertaa semanttisena verkkona</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/vp3xYq/miika-alonen-ldf-24-1-2014-semanttinen-kansallisbiografia %}</div>

<h2>Matias Frosterus <small>Yritysdatan rikastaminen uutisaineistoilla - Case Asiakastieto</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/jb9t0A/matias-frosterus-ldf-24-1-2014-case-asiakastieto %}</div>

<h2>Eetu Mäkelä <small>Kulttuurisampo, Matkailusampo ja Kirjasampo: 10 vuotta semanttista sammon taontaa</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/FRhwYT/eetu-makela-ldf-24-1-2014-kulttuurisampojen-taontaa %}</div>

<h2>Mikko Koho <small>Lintu- ja säähavainnot yhdistettynä tietona: Case Tutkimuksen tietoaineistot</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/CQF7D4/mikko-koho-ldf-24-1-2014-linkitettya-lintudataa %}</div>

<h2>Tomi Kauppinen <small>Linked Open Aalto: Yliopiston tiedot avoimesti ja yhdistetysti hyötykäyttöön</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/GOKI93/tomi-kauppinen-ldf-24-1-2014-linked-open-aalto %}</div>

<h2>Eero Hyvönen <small>Case World War I as Linked Data – yhteistyötä yli rajojen</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/gGHHu0/eero-hyvonen-ldf-24-1-2014-wwi-as-linked-data %}</div>

<h2>Jouni Tuominen <small>Semanttinen Finlex: lainsäädäntö ja oikeustapaukset avoimena yhdistettynä tietona</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/Kv3oIA/jouni-tuominen-ldf-24-1-2014-semanttinen-finlex %}</div>

<h2>Ossi Nykänen <small>W3C:n suositukset Linked Data -julkaisuissa</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/SGTvjj/ossi-nykanen-ldf-24-1-2014-w3c-ja-linked-data %}</div>

<h2>Anne Kauhanen-Simanainen <small>Avoimen tiedon ohjelma 2013-2015</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/82p0eN/anne-kauhanen-simanainen-ldf-24-1-2014-avoimen-tiedon-ohjelma %}</div>

<h2>Taru Rastas <small>Liikenne- ja viestintäministeriö ja avoin yhdistetty tieto</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/R6ZxcZ/taru-rastas-ldf-24-1-2014-lvm-ja-linkitetty-avoin-tieto %}</div>

<h2>Aki Hietanen <small>Oikeusministeriö ja avoin yhdistetty tieto</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/XSJ6hw/aki-hietanen-ldf-24-1-2014-om-ja-avoin-yhdistetty-tieto %}</div>

<h2>Juha Haataja <small>OKM:n Avoimen tieteen tiekartta</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/s7vzxl/juha-haataja-ldf-24-1-2014-okm-ja-avoimen-tieteen-tiekartta %}</div>

<h2>Matias Frosterus <small>ONKI-ontologiapalvelun tuotteistaminen Kansalliskirjaston Finto-palveluksi</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/tGNVQM/matias-frosterus-ldf-24-1-2014-onkista-fintoksi %}</div>

<h2>Mikael Hindsberg <small>Yleisradio yhdistetyn avoimen tiedon hyödyntäjänä</small></h2>
<div class="flex-video">{% iframe http://www.quickprese.com/embed/azBFGF/mikael-hindsberg-ldf-24-1-2014-yle-avoimen-tiedon-hyodyntajana %}</div>
<p>Viimeisen esiintyjän kokoava kommentti seminaarista Twitterissä: <a href="https://twitter.com/mickhinds/status/426753802306596864">https://twitter.com/mickhinds/status/426753802306596864</a></p>
