<!DOCTYPE html>
<html class="{{ page.language }}">
  {% include head.html %}
  <body>
    <div id="header" class="row">
      <a href="/">
        <img src="/img/infocrea_logo.png" class="show-for-medium-up" />
      </a>
      <ul class="inline-list show-for-medium-up">
        <li>{% include roundIconLink.html icon="twitter"  url="https://twitter.com/jarmolahti" %}</li>
        <li>{% include roundIconLink.html icon="facebook" url="http://www.facebook.com/jarmo.lahti" %}</li>
        <li>{% include roundIconLink.html icon="linkedin" url="http://www.linkedin.com/in/jarmolahti" %}</li>
        <li>{% include roundIconLink.html icon="youtube"  url="http://www.youtube.com/user/j53l" %}</li>
        <li>{% include roundIconLink.html icon="vimeo-square" url="http://vimeo.com/infocrea" %}</li>
        <li>{% include roundIconLink.html icon="flickr"   url="http://www.flickr.com/photos/jarmolahti/sets/" %}</li>
        <li>{% include roundIconLink.html icon="envelope" url="mailto:jarmo.lahti@infocrea.fi" %}</li>
      </ul>
    </div>
    <div id="pageWrapper" class="row">
      {% include header.html %}
      {{ content }}
    </div>

    <!--
    {% include footer.html %}
    -->
    <script type="text/javascript" src="/js/lib/foundation.min.js"></script>
    <script type="text/javascript" src="/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/js/lib/moment-fi.js"></script>
    <script type="text/javascript" src="/js/lib/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% if page.js %}<script type="text/javascript" src="/js/{{ page.js }}"></script>{% endif %}
  </body>
</html>
